---
sudo: required
language: python
services:
  - docker

env:
  - scenario=default
  - scenario=beta

matrix:
  fast_finish: true

script:
  - >
     docker run --rm -it
     --mount type=bind,source="$(pwd)",target=/tmp/$(basename "$PWD")
     -v /var/run/docker.sock:/var/run/docker.sock
     -w /tmp/$(basename "$PWD")
     quay.io/ansible/molecule:latest
     sudo molecule test --scenario-name $scenario

notifications:
  email:
    on_failure: change
    on_success: never
