---
sudo: required
language: python
services:
  - docker

env:
  global:
    - fast_finish =  true

matrix:
  include:
    - env:

before_install:
  - sudo apt-get -qq update
install:
  - pip install molecule
  - pip install docker
script:
# - while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done & molecule test
  - molecule test
