---
- name: "copy init script for systemd"
  template:
    src: init-systemd.j2
    dest: "{{ domoticz_systemd }}"
    owner: root
    group: root
    mode: 0775
  tags:
    - domoticz
    - installation
    - autostart

- name: "debug init script"
  block:
    - command: "cat /{{ domoticz_systemd }}"
      register: result
    - debug:
        var: result

- name: "autostart domoticz and restart service"
  systemd:
    name: domoticz
    enabled: true
    daemon_reload: true
    state: started
  tags:
    - domoticz
    - installation
    - autostart

- name: "debug service status"
  block:
    - command: "systemctl status domoticz"
      register: domoticz_status
    - debug:
        var: domoticz_status