---
# - name: "create Domoticz source directory"
#   file:
#     name: "{{ domoticz_src }}"
#     owner: "{{ domoticz_user }}"
#     group: "{{ domoticz_group }}"
#     state: directory
#   tags:
#     - domoticz
#     - installation
#     - directory

- name: "get Domoticz source code"
  git:
    repo: "{{ domoticz_repo }}"
    clone: true
    dest: "{{ domoticz_download_dir }}/{{ domoticz_src }}"
  tags:
    - domoticz
    - installation
    - source

- name: "compile Domoticz source code"
  command: "cmake -DCMAKE_BUILD_TYPE=Release ."
  args:
    chdir: "{{ domoticz_download_dir }}/{{ domoticz_src }}"
  tags:
    - domoticz
    - installation
    - compile
