---
- name: "install packages on debian systems"
  apt:
    name: "{{ domoticz_prerequisites }}"
    state: present
    update_cache: true
  tags:
    - domoticz
    - installation
    - prerequisites
  when: ansible_os_family == 'Debian'

- name: "install packages on redhat based systems"
  yum:
    name: "{{ domoticz_prerequisites }}"
    state: present
    update_cache: true
  when: ansible_os_family == 'RedHat'
  tags:
    - domoticz
    - installation
    - prerequisites

- name: "install libssl1.0.0"
  block:
    - name: "download libssl1.0.0 package"
      get_url:
        url: "{{ domoticz_libssl_url }}"
        dest: "{{ domoticz_download_dir }}/libssl1.0.0.deb"
    - name: "install libssl1.0.0 package"
      apt:
        deb: "{{ domoticz_download_dir }}/libssl1.0.0.deb"
        state: present
